@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #222;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: column;   
  min-height: 100vh;
  color: #fff;
}

.container .header {
  display: flex;
  gap: 25px;
  flex-wrap: wrap; 
}

.container .header h1 {
  font-size: 36px;
  color: #fe4400;
}

.container .header p {
  font-size: 18px;  
}

#form .input_box {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

#form #data {
  width: 380px;
  background: #ffe9cc;
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 6px;
  color: #222;
  font-size: 18px;
}

#form span {
  width: 380px;
  height: 50px;
  background: transparent;
  outline: none;
  border: none;
  padding: 10px;
  margin-top: 25px;
  border-radius: 6px;
  color: #fe4400;
  font-size: 36px;
}

footer {
  position: relative;
  width: 100%;
  background: #fe4400;  
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

footer .sci {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;  
  flex-wrap: wrap;  
}

footer .sci li {
  list-style: none;
}

footer .sci li a {
  font-size: 2em;
  color: #fff;
  margin: 0 25px;
  display: inline-block;
  transition: 0.5s;  
}

footer .sci li a:hover {
  transform: translateY(-10px);
}

